
@{
    Layout = null;
}

@model  List<Entity.Personel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Personel Listesi</h2>
        <table>
            <thead>
                <tr>
                    <th>Ad Soyad</th>
                    <th>Görev</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ad @item.Soyad</td>
                        <td>@item.Gorev</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
